<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backend Javier Santoyo</title>
    <link rel="stylesheet" href="/css/styles.css" media="all" />
  </head>
  <body>
    <div class="containerIndex">
      <section>
        <span
          >Hola a todos, este proyecto es para mostrar mis habilidades tanto de
          Backend como Frontend, si desean ponerse en contacto favor de enviar
          un mensaje en la seccion de
          <a href="javiersantoyo.dev/contact">contacto</a>
        </span>
      </section>
      <h2>Lista de proyectos de backend</h2>
      <section id="indexSection">
        <div id="indexProject">
          <a href="/restaurant"
            ><img
              src="/images/restaurant.png"
              alt="Restaurant"
              width="100px"
              height="100px" /></a
          ><a href="/restaurant">Restaurant</a>
          <p>Proximamente</p>
        </div>
        <div id="indexProject">
          <a href="/metalmecanica"
            ><img
              src="/images/gear.png"
              alt="Gear"
              width="100px"
              height="100px"
          /></a>
          <a href="/metalmecanica">Metal-mecanica</a>
          <p>Completo</p>
        </div>
        <div id="indexProject">
          <a href="/curame"
            ><img
              src="/images/hospital.png"
              alt="Curame"
              width="100px"
              height="100px"
          /></a>
          <a href="/curame">Curame</a>
          <p>Proximamente</p>
        </div>
      </section>
    </div>
  </body>
</html>

<!-- This is the script that we would be creating later -->
<script src="/js/scripts.js"></script>
