<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Backend Javier Santoyo</title>
    <link rel="stylesheet" href="/css/styles.css" media="all">
</head>
<body>
    <section>
        <span>Hola a todos, este proyecto es para mostrar mis habilidades tanto de Backend como Frontend, si desean ponerse en contacto favor de enviar un mensaje a javiersantoyo.dev.contact</span>
    </section>
    <section>
        <h2>Lista de proyectos de backend</h2>
        <ul><a href="/restaurant">Franky's restaurant</a></ul>
        <ul><a href="/metalmecanica">Metal-mecanica</a></ul>
        <ul><a href="/curame">CurAME</a></ul>
    </section>
</body>
</html>

<!-- This is the script that we would be creating later -->
<script src="/js/scripts.js"></script>