<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Documentacion de portafolio</title>
  </head>
  <%-include ('./partials/header.ejs') %>
  <%-include ('./partials/banner.ejs') %>
  <body>
    <div><%- body %></div>
  </body>
  <%-include ('./partials/footer.ejs') %>
</html>