*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body{
    background-image: url("../images/monterrey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* max-height: 100vmax ; */
    background-attachment: fixed;
    background-color: black;
    background-position: bottom;
}
#containerGeneral{
  display: flex;
  flex-direction: column;
  height: auto;
}



table {
    border: #b2b2b2 1px solid;
    margin: 20px;
    
  }
  td, th {
    border: black 1px solid;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #readAllClient{
    background-color: transparent;
    border: none;
    width:auto;
  }
 
  /* #contenedorLink{
    /* display: inline-block; 
    min-width: 100px;
  } */
  
  #textoLink{
    background-color: red;
    width: 100%;
  }

  svg{
    width: 40px;
    height: 40px;
  }
.iconAPI {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

  .btnScrollTop{
    position: fixed;
     width: 60px;
    height: 60px; 
    
    right: 20px;
    background: rgb(166, 166, 166);
    border-radius: 100%;
    cursor: pointer;
    /* transform: translate(100px); */
    transform: scale(0);
   
    #arrowUp{
      width: 50px;
      height: 50px;
    }

  }

  
  .btnScrollTop-on{
    position: fixed;
    /* width: 60px;
    height: 60px; */
    bottom: 60px;
    right: 20px;
    /* background: gray; */
    border-radius: 100%;
    cursor: pointer;
    /* transform: translate(0); */
    transform: scale(1) translate(0);
    transition: 0.3s;
  }
.containerTable{
        backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(116, 119, 124, 0.45);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    gap: 10px;
    margin: 25px;
}

.Services{
display: flex;
flex-direction: column;
align-items: center;
margin: 20px;
}

#servicePanel{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-right:80px;
  padding: 10px;
  gap: 50px;
}


footer{
  background-color: black;
align-items: center;
  text-align: center;
  color: white;
    position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}
#footerLink {
    color:brown
}
#copyImg{
    width: 30px;
    height: 3;
}
button{
    background-color: transparent;
}
