<footer class="footer">
  <div class="footerContainer" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright: 
    <a id="footerLink" href="https://javiersantoyo.dev/"> Javier Santoyo</a>
  </div>
</footer>